.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper{
  width: 1100px;
  margin: 0 auto;
}

.red-box-size{
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  margin: 0 auto;
}

.box-base{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-box-color{
  background-color: #ff0000;
  margin: 0 auto;
}

.blue-box{
  background-color: #0008ff;
  margin-right: 150px;
}

.green-box{
  background-color: #22ff00;
}

.q-4{
  margin: 0 auto;
  width: 600px;
}

.red-box-float{
  background-color: #ff0000;
  float: left;
  }

.blue-box-float{
  background-color: #0008ff;
  float: left;
}

.red-box-order{
  background-color: #ff0000;
}

.blue-box-order{
  background-color: #0008ff;
}

.orange-box-order{
  background-color: #ff8400;
}

.q-3, .q-5, .q-6{
  display: flex;
  justify-content: center;
}

.q-5{
  flex-direction: row;
}

.green-change{
  background-color: #00ff51;
  order: 0;
}

.yellow-change{
  background-color: #d4ff00;
  order: 1;
}

.pink-change{
  background-color: #ff00e1;
  order: 2;
}

.blue-box-display{
  background-color: #0008ff;
  display: none;
}

.red-box-display{
  background-color: #ff0000;
  display: block;
}

.green-box-display{
  background-color: #00ff51;
  display: block;
}

@media screen and (max-width: 959.9px) {
  .red-box-size {
  width: 250px;
  height: 250px;
  }

  .red-box-color {
  background-color: #007bff
  }

  .blue-box {
  margin-right: 50px;
  }

  .blue-box-float ,.red-box-float{
  float: none;
  }

  .q-5 {
  flex-direction: row-reverse;
  }

  .green-change {
  order: 1;
  }

  .yellow-change {
  order: 2;
  }

  .pink-change {
  order: 0;
  }

  .blue-box-display {
  display: block;
  }

  .red-box-display {
  display: none;
  }

}
